# code editors
.DS_Store
Thumbs.db
.idea
*.sublime*
.vscode

# backend

backend/venv/
backend/.env
backend/__pycache__/
backend/migrations/
backend/static/
backend/media/

#forntend

frontend/*.log*
frontend/node_modules/
frontend/public/bundle.js
frontend/public/bundle.js.map
